:root {
  --maroon: #8f2052;
  --orange: #d05323;
  --dark-orange: #a03e18;
  --white: #ffffff;
  --light-gray: #d4c5c5;
  --gray: #b0a7a7;
  --dark-gray: #4f4c45; 
  --black: #000000;
}

* {
  text-decoration: none;
}

/* disables double touch to zoom on mobile*/
button {
  touch-action: manipulation;
}

p{
  text-align: center;
  margin: none;
}

h1 {
 
  background-color: var(--orange);
  color: var(--maroon);
  padding: 12px;
  font-size: 175%;
  text-align: center;
  font-weight: 1000;
  font-style: italic;

  text-shadow:
  -1px -1px 0 var(--white),
  1px -1px 0 var(--white),
  -1px 1px 0 var(--white),
  1px 1px 0 var(--white);  
}

#title-container {
  background-color: var(--orange);
}

.navbar{
    color: var(--white);
    background-color: var(--dark-gray);
    text-decoration: none;
    padding: 0px;
}

.navbar a {
 
display: block;
 
color: var(--white);
 
background-color: var(--dark-gray);
 
text-decoration: none;
 
padding: 15px;
 
width: 130%;
 
text-align: center;
 
margin: 0px;
 
font-size: 130%;
 
font-weight: 700;
}

a {
  text-decoration: none;
}

.nav-item a{
  width: 100%;
}

.navbar a:hover {
background-color: var(--orange);
color: var(--white);
}

.dropdown-menu {
  margin: 0px;
  padding: none;
}

.navbar-nav > li > .dropdown-menu {
  background-color: var(--dark-gray);
  padding: none;
  width: auto;
}

a.dropdown-item {
  font-weight: 700;
  font-size: 18px;
  width: 100%;
}

.row {
  --bs-gutter-x: 0;
}

img {
  object-fit: cover;
}

/* counter buttons */
#auto-low-hub-downbtn, #auto-up-hub-downbtn, #tele-low-hub-downbtn, #tele-up-hub-downbtn,
#auto-low-hub-upbtn, #auto-up-hub-upbtn, #tele-low-hub-upbtn, #tele-up-hub-upbtn {
  height: 100px;
  width: 44%;
  border-radius: 20%;
  color: var(--white);
  background-color: var(--maroon);
  border: none;
  padding: none;
  font-size: 30px;
}

.btndis {
  font-size: 50px;
  font-weight: bold;
  color: var(--black);
}

#count {
  padding: 0;
}

.auto-low-hub-txt .auto-up-hub-txt{
  padding: 30px;
}

#middle-col {
  text-align: center;
  font-size: 25px;
  font-weight: 800;
}

label:hover {
  color:#000000;
}

/* makes input checkboxes bigger */
input[type=checkbox]{
  justify-content: center;
  height: 60px;
  width: 60px;
  padding: 30px;
}

.form-check .form-check-input {
  float: none;
  vertical-align: middle;
  margin: 0;
}

.form-check {
  padding-left: 0;
  padding-right: 0;
}

.form-check-label {
  padding-right: 45px;

}

